@{
    ViewBag.Title = "Home Page";
}
<!--Jumbotron class has background image-->
<div class="jumbotron">
    <h1>Wardrobe Closet</h1>
    <p class="lead">Keeping tabs on all your fashionable needs </p>
    
</div>
<!--Responsive row displays 4 category columns with buttons to click to each category page-->
<div class="row">
    <div class="col-md-3 row2-col1">  
        <p><a class="btn btn-default" href="http://localhost:60473/Tops">Tops &raquo;</a></p>
    </div>
   
     <div class="col-md-3 row2-col2"> 
        <p><a class="btn btn-default" href="http://localhost:60473/Bottoms">Bottoms &raquo;</a></p>
    </div>
    
    <div class="col-md-3 row2-col3">
        <p><a class="btn btn-default" href="http://localhost:60473/Shoes">Shoes &raquo;</a></p>
    </div>
   
     <div class="col-md-3 row2-col4">
        <p><a class="btn btn-default" href="http://localhost:60473/Accessories">Accessories &raquo;</a></p>
    </div>
</div>